
.btn-primary{
display:inline-block;
padding:15px 30px;
background:white;
color:black;
border-radius:8px;
text-decoration:none;
margin-top:20px;
}

.btn-whatsapp{
display:inline-block;
padding:15px 30px;
background:#25D366;
color:white;
border-radius:10px;
text-decoration:none;
margin-top:20px;
}

.lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:flex;
align-items:center;
justify-content:center;
}

.lightbox img{
max-width:90%;
max-height:90%;
}
